@import url(../reset.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: #333;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 300px;

    border-radius: 150px;

    background:
        linear-gradient(60deg,
            rgba(255, 62, 62, 1) 10%,
            rgba(246, 170, 78, .1) 60%),
        linear-gradient(100deg,
            rgba(246, 170, 78, 1) 10%,
            rgba(240, 246, 78, .1) 60%),
        linear-gradient(150deg,
            rgba(240, 246, 78, 1) 10%,
            rgba(78, 246, 103, .1) 60%),
        linear-gradient(200deg,
            rgba(78, 246, 103, 1) 10%,
            rgba(78, 201, 246, .1) 60%),
        linear-gradient(250deg,
            rgba(39, 167, 214, 1) 10%,
            rgba(49, 73, 153, .1) 60%),
        linear-gradient(300deg,
            rgba(49, 73, 153, 1) 10%,
            rgba(191, 82, 209, .1) 60%),
        linear-gradient(350deg,
            rgba(205, 82, 226, 1) 10%,
            rgba(191, 82, 209, .1) 60%),
        linear-gradient(360deg,
            rgb(205, 82, 226) 10%,
            rgba(255, 62, 62, .1) 60%);
    /* rgba(255, 62, 62, .1) 60%); */

    /* filter: brightness(120%); */
}

.circle:hover {
    animation: spin 1s infinite linear;
}

.circle:hover>.inner-circle {
    animation: spin 1s infinite linear;
}

.inner-circle {
    width: 295px;
    height: 295px;

    background-color: #333;

    border-radius: 150px;
}





@keyframes spin {
    0% {
        transform: rotate(0deg);
        filter: drop-shadow(0px 0px 0px #333);
    }

    50% {
        transform: rotate(180deg);
        filter: drop-shadow(0px 0px 2px white);
    }

    100% {
        transform: rotate(360deg);
        filter: drop-shadow(0px 0px 0px #333);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
        filter: drop-shadow(0px 0px 0px #333);
    }

    50% {
        transform: rotate(180deg);
        filter: drop-shadow(inset 0px 0px 2 white);
    }

    100% {
        transform: rotate(360deg);
        filter: drop-shadow(0px 0px 0px #333);
    }
}